* {
    padding: 0;
    margin: 0;
    background-color: #a19a90;
}

#titleBar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #dcdde2;
    border-bottom: 5px solid black;
}

#projectTitle {
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #dcdde2;
    color: #636250;
}

#block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a19a90;
    width: 100%;
    height: 1100px;
}

#main {
    border: 5px solid black;
    border-radius: 25px;
    width: 405px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #528e86;
    padding-right: 3px;
}

#resultBar {
    background-color: #528e86;
    width: 100%;
    height: 100px;
    border-radius: 25px 25px 0px 0px;
    border-bottom: 2px solid black;
}

#body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    background-color: #528e86;
    border-radius: 0px 0px 25px 25px;
}

.bodyColumn {
    display: flex;
    flex-direction: column;
}

.bodyItem {
    border: 1px solid black;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #528e86;
}

.bodyItemOneX {
    height: 100px;
}

.bodyItemTwoX {
    height: 200px;
}

div p {
    background-color: #528e86;
}

#leftColumn {
    border-radius: 0px 0px 0px 25px;
}

#rightColumn {
    border-radius: 0px 0px 25px 0px;
}

#pooKey {
    border-radius: 0px 0px 0px 25px;
}

#enterKey {
    border-radius: 0px 0px 25px 0px;
    
}




#colorPalette {
    padding-top: 15px;
    padding-bottom: 15px;
}

#imageDiv {
    border: 5px solid black;
}